<div class="tab enemies" data-group="primary" data-tab="enemies">
  <div class="d-flex d-flex--column height-100">
    <section class="template-list-filters flex-0 bottom-margin-medium">
      <div class="d-flex d-flex--gap-medium d-flex--center-items">
        <div>
          <input type="text" data-dtype="String" class="template-list-search" name="searchTerm"
            value="{{ enemies.filters.search }}" />
        </div>
        <div>
          <button class="button-red search-button">Search</button>
        </div>
        <div>
          <a class="advanced-filters-button">Advanced Filters</a>
        </div>
      </div>
      <section class="d-flex d-flex--gap-medium advanced-filters-section top-margin-medium">
        <div>
          <p><b>Tags:</b></p>
          <div data-filter-list="tags" style="height: 200px; width: fit-content; overflow: scroll; overflow-x: hidden;">
            {{#each enemies.tagList}}
            <div class="d-flex d-flex--center-items">
              <input class="tag" style="width: 15px; height: 15px" type="checkbox" data-tag-name="{{@key}}" {{#if
                this}}checked="checked" {{/if}} />
              <p>{{@key}}</p>
            </div>
            {{/each}}
          </div>
        </div>
        <div>
          <p><b>Races:</b></p>
          <div data-filter-list="races"
            style="height: 200px; width: fit-content; overflow: scroll; overflow-x: hidden;">
            {{#each enemies.raceList}}
            <div class="d-flex d-flex--center-items">
              <input class="race" style="width: 15px; height: 15px" type="checkbox" data-race-name="{{@key}}" {{#if
                this}}checked="checked" {{/if}} />
              <p>{{@key}}</p>
            </div>
            {{/each}}
          </div>
        </div>
        <div>
          <p><b>Owners:</b></p>
          <div data-filter-list="owners"
            style="height: 200px; width: fit-content; overflow: scroll; overflow-x: hidden;">
            {{#each enemies.ownerList}}
            <div class="d-flex d-flex--center-items">
              <input class="owner" style="width: 15px; height: 15px" type="checkbox" data-owner-name="{{@key}}" {{#if
                this}}checked="checked" {{/if}} />
              <p>{{@key}}</p>
            </div>
            {{/each}}
          </div>
        </div>
        <div>
          <p><b>Ranks:</b></p>
          <div style="height: 200px; min-width: 120px;">
            {{#each enemies.filters.ranks}}
            <div class="d-flex d-flex--center-items">
              <input class="rank" style="width: 15px; height: 15px" type="checkbox"
                data-rank="{{lookup ../enemies.reverseRankMap @key}}" data-rank-name="{{@key}}" {{#if
                this}}checked="checked" {{/if}} />
              <p>{{@key}}</p>
            </div>
            {{/each}}
          </div>
        </div>
      </section>
    </section>
    <section class="template-list-section flex-1">
      <div class="template-list-header-row">
        <div class="enemy-type">Enemy Type</div>
        <div>Race</div>
        <div>Rank</div>
        <div>Owner</div>
        <div></div>
      </div>
      <div class="template-list-rows enemy-template-list-rows">
        {{#each enemies.templatesPage as |template|}}
        <div data-template-id="{{ template.id }}" data-template-type="enemy" data-template-name="{{ template.name }}"
          data-template-tags="{{ template.tags }}" class="template-list-row">
          <div class="enemy-type">{{ template.name }}</div>
          <div>{{ template.race }}</div>
          <div>{{ lookup ../enemies.rankMap template.rank }}</div>
          <div>{{ template.owner }}</div>
          <div><button class="button-red import-button">Import <i class="fas fa-arrow-right"></i></button></div>
        </div>
        {{/each}}
        {{#if enemies.showLoader}}
        <div class="info-row">
          {{> systems/mythras/templates/common-components/loader.html}}
        </div>
        {{/if}}
        {{#unless enemies.showLoader}}
        {{#unless enemies.templatesPage}}
        <div class="info-row">
          No Results
        </div>
        {{/unless}}
        {{/unless}}

      </div>
    </section>
  </div>
</div>