@use 'colors';
div.window-app section.window-content {
  background: url('../assets/sheet/sheet-background.jpg');
  background-repeat: repeat;
  background-attachment: local;
}

#logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../assets/sheet/mythras-gateway-logo-black-small.png') no-repeat;
  width: 100px; /* Width of new image */
  height: 46px; /* Height of new image */
  padding-left: 100px; /* Equal to width of new image */
}

// Reset margins on paragraph tag
p {
  margin: 0;
}

hr {
  margin: 15px 0px;
  color: colors.$sheet-gray;
  border-color: colors.$sheet-gray;
  background-color: colors.$sheet-gray;
  height: 1px;
  border: 0;
}

.desc {
  height: 100%;
  margin-bottom: 0px;
  .editor {
    .editor-content {
      h1 {
        line-height: 16px;
        font-size: 28px;
        height: 28px;
        padding-top: 2px;
        margin: 0px 0px 8px;
        width: 100%;
      }
      h2 {
        line-height: 16px;
        font-size: 21px;
        height: 21px;
        margin: 0px 0px 8px;
      }
      p {
        font-size: 14px;
        margin: 7px 0px;
      }
    }
    div.tox.tox-tinymce {
      height: 100% !important;
    }
    height: 100%;
  }
}
