<div class="flex-1 labelled-text-input labelled-text-input--square">
  <input class="labelled-text-input__input labelled-text-input__input--square"
    name="data.characteristics.{{characteristicName}}.value" value="{{characteristic.value}}" type="text" />
  <label class="labelled-text-input__label top-margin-small">
    {{localize characteristic.label}}
  </label>
</div>