<form autocomplete="off">
  <div class="form-group">
    <label>{{localize 'COMBAT.Resource'}}</label>
    <select name="resource">
      {{#select settings.resource}}
      <option value="">{{ localize "None" }}</option>
      {{#each attributeChoices as |attrs label|}}
      <optgroup label="{{ label }}">
        {{#each attrs}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </optgroup>
      {{/each}}
      {{/select}}
    </select>
    <p class="notes">{{localize 'COMBAT.ResourceHint'}} (select trackedStats.actionPoints.value for Action Point
      tracking)</p>
  </div>

  <div class="form-group">
    <label>{{localize 'COMBAT.SkipDefeated'}}</label>
    <input type="checkbox" name="skipDefeated" {{checked settings.skipDefeated}} data-dtype="Boolean" />
    <p class="notes">{{localize 'COMBAT.SkipDefeatedHint'}}</p>
  </div>
  <div class="form-group">
    <label>Automatically Reduce AP?</label>
    <input type="checkbox" name="reduceAP" {{checked settings.reduceAP}} data-dtype="Boolean" />
    <p class="notes">Automatically reduce Action Points when a combatant's turn is passed?</p>
  </div>

  </div>
  <button type="submit" name="submit">
    <i class="fas fa-save"></i> {{localize 'COMBAT.SettingsSave'}}
  </button>
</form>