<form class="{{cssClass}} item-sheet hitLocation-sheet flexcol" autocomplete="off">
  <div>
    Name:
    <input name="name" type="text" value="{{item.name}}" placeholder="Name" />

    rollingRangeStart:
    <input type="number" name="data.rollingRangeStart" value="{{data.data.rollingRangeStart}}" />
    <br />
    rollingRangeEnd:
    <input type="number" name="data.rollingRangeEnd" value="{{data.data.rollingRangeEnd}}" />
    <br />
    naturalArmor:
    <input type="number" name="data.naturalArmor" value="{{data.naturalArmor}}" />
    <br />
    maxHp:
    <input type="number" name="data.maxHp" value="{{data.data.maxHp}}" />
    <br />
    currentHp:
    <input type="number" name="data.currentHp" value="{{data.data.currentHp}}" />
    <br />
    maxHpMod:
    <input type="number" name="data.maxHpMod" value="{{data.data.maxHpMod}}" />
  </div>
</form>