<form class="{{cssClass}} item-sheet cult-sheet flexcol" autocomplete="off">
    <header class="sheet-header">
        <div class="header-flex">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
            <div class="header-fields">
                <h1 class="charname">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                </h1>
            </div>
            <h1>{{data.data.currentRank}}</h1>
        </div>
    </header>

    {{!-- Decorative Symbol Divider --}}
    {{> systems/mythras/templates/global/mythras-symbols.html}}

    {{!-- Sheet Body --}}
    <section class="sheet-body flexcol">
        <div class="cult-section">
            <div class="cult-core">
                <div class="cult-core-section">
                    <div>
                        <h3>{{localize 'MYTHRAS.Ranks'}}</h3>
                    </div>
                </div>
            </div>
            <div class="cult-core">
                <div class="cult-core-section">
                    <div>
                        <h4>{{localize 'MYTHRAS.Rank_Name4'}}</h4>
                        <input type="text" name="data.rankName4" value="{{data.data.rankName4}}" />
                        <h4>{{localize 'MYTHRAS.Rank_Name1'}}</h4>
                        <input type="text" name="data.rankName1" value="{{data.data.rankName1}}" />
                    </div>
                </div>
                <div class="cult-core-section">
                    <div>
                        <h4>{{localize 'MYTHRAS.Rank_Name3'}}</h4>
                        <input type="text" name="data.rankName3" value="{{data.data.rankName3}}" />
                        <h4>{{localize 'MYTHRAS.Rank_Name0'}}</h4>
                        <input type="text" name="data.rankName0" value="{{data.data.rankName0}}" />
                    </div>
                </div>
                <div class="cult-core-section">
                    <div>
                        <h4>{{localize 'MYTHRAS.Rank_Name2'}}</h4>
                        <input type="text" name="data.rankName2" value="{{data.data.rankName2}}" />
                        <h4>{{localize 'MYTHRAS.Current_Rank'}}</h4>
                        <select name="data.currentRank" data-dtype="String">
                            {{#select data.data.currentRank}}
                            <option value="0">{{data.data.rankName0}}</option>
                            <option value="1">{{data.data.rankName1}}</option>
                            <option value="2">{{data.data.rankName2}}</option>
                            <option value="3">{{data.data.rankName3}}</option>
                            <option value="4">{{data.data.rankName4}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <h2>Description</h2>
        <div class="desc" data-group="primary">
            {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
            <!--<textarea class="editor" name="data.description">{{data.data.description}}</textarea>-->
        </div>
    </section>

    {{!-- Decorative Symbol Divider --}}
    {{> systems/mythras/templates/global/mythras-symbols.html}}
</form>