<form class="{{cssClass}} item-sheet equipment-sheet flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="50" width="50" />
      <div class="header-fields">
        <h1 class="charname">
          <input data-handler="changeName" id="armorChange_name" name="name" type="text" value="{{item.name}}"
            placeholder="Name" />
        </h1>
      </div>
    </div>
  </header>
  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="equip-section">
      <div class="equipment-core">
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Storage'}}</h3>
            <select name="data.storage" data-dtype="String">
              <option value="Unknown">{{localize 'MYTHRAS.No_Storage'}}</option>
              {{#unless data.data.equipped}}
              {{#select data.data.storage}}
              {{#each availableStorage as |storage|}}
              <option value="{{storage.id}}">{{storage.name}}</option>
              {{/each}}
              {{/select}}
              {{/unless}}
            </select>
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.ENC'}}</h3>
            <input type="text" name="data.encumbrance" value="{{data.data.encumbrance}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Quantity'}}</h3>
            <input type="text" name="data.quantity" value="{{data.data.quantity}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.AP'}}</h3>
            <input data-handler="changeAp" id="armorChange_ap" type="text" name="data.ap" value="{{data.data.ap}}" />
          </div>
          <div>/</div>
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.HP'}}</h3>
            <input type="text" name="data.hp" value="{{data.data.hp}}" />
          </div>
        </div>
        <div class="equip-core-section">
          <div>
            <h3 class="core-info">{{localize 'MYTHRAS.Value'}}</h3>
            <input type="text" name="data.value" value="{{data.data.value}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="equip-section">
      <div class="weapon-core">
        <div class="weapon-core-section">
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Armor_Location'}}</h3>
            <select name="data.location" data-dtype="String">
              {{#select data.data.location}}
              {{#each availableHitLocations as |loc|}}
              <option value="{{loc.id}}">{{loc.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Type'}}</h3>
            <input type="text" name="data.type" value="{{data.data.type}}" />
          </div>
          <div class="weapon-piece">
            <h3 class="core-info">{{localize 'MYTHRAS.Equipped'}}</h3>
            <input data-handler="toggleEquipped" type="checkbox" name="data.equipped" {{checked data.data.equipped}} />
          </div>
        </div>
      </div>
    </div>
    <h2>{{localize 'MYTHRAS.Description'}}</h2>
    <div class="desc" data-group="primary">
      {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
      <!--<textarea class="editor" name="data.description">{{data.data.description}}</textarea>-->
    </div>
  </section>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.html}}
</form>